@import "themes/dark";
@import "themes/light";
@import "variables/global";
@import "reset";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;

  &__content {
    display: flex;
  }
}

.app-page {
  padding: 20px;
  flex-grow: 1;
}
