.PageError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  &__button {
    cursor: pointer;
  }

  &__heading {
    margin-bottom: 20px;
  }
}
